.box {
    display: inline-block;
    border-width: 2px;
    border: solid black;
    margin: 10px;
    height: 100px;
    width: 100px;
    font-size: 18px;
    padding: 10px;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

.container {
    font-size: 0;

}

.float-box {
    border: solid black 2px;
    float: left;
}

.text {
    clear: left;
    margin-top: 3px;
}

.container2 {
    height: 300px; 
    border: solid black 20px;
    overflow: scroll;
}

.box2 {
    border-width: 2px;
    border: solid black;
    margin: 10px;
    height: 100px;
    width: 100px;
    font-size: 18px;
    padding: 10px;
    font-size: 18px;
}

.login{
    display: flex;
}

.hyper {
    display: flex;
    flex-direction: row;
}

.hyper:link {
    color: green;
}

.hyper:visited {
    color: black;
}

.hyper:hover {
    background-color: blueviolet;
    color: bisque;
}


.check:checked {
    height: 50px;
    width: 50px;
}

.login:valid {
    color: blue;
}

.login:invalid {
    color: brown;
}

.login:focus {
    color: red;
}


.base-layer {
    position: relative;
    height: 300px;
    width: 300px;
}

.box3 {
    position: absolute;
    border-width: 2px;
    font-size: 18px;
    padding: 10px;
}


#one {
    z-index: 0;
    background-color:red;
    border: red solid 2px;
    width: 200px;
    height: 200px;
}

#two {
    z-index: 1;
    background-color:yellow;
    width: 100px;
    height: 100px;
    border: yellow solid 2px;
}

#three {
    z-index: 2;
    background-color:blue;
    width: 60px;
    height: 60px;
    border: blue solid 2px;
    position: relative;
}